/* The navigation bar */
.navbar {
  overflow: hidden;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
}
.nav-link:hover {
  background-color: transparent;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
footer {
  background-color: #131415;
  padding: 20px 40px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
/* Change background on mouse-over */

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
