#my_artboard {
  font-family: "Courier New", Courier, monospace;
  background-color: #b2f3f3;
  /* background-image: url(./img/home.jpg); */
  background-repeat: no-repeat;
  /* min-width: 100vw; */
  background-position: 25%;
}
#main_section {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  margin-left: 67px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  margin: 0px;
}

h2 {
  text-align: center;
  font-family: -sans-serif -apple-system;
}

h3 {
  font-family: -apple-system;
}

#name h3 {
  text-align: center;
}

h4 {
  font-weight: bold;
  font-size: 25px;
  margin-left: 67px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: left;
}

.white_section {
  color: black;
}
.red_section {
  color: #6495ed;
}
section {
  background-color: #b2f3f3;

  margin: 20px 30px;
  padding: 20px 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 2px;
  border-radius: 10px;
}
article {
  background-color: rgb(216, 216, 216);
  width: 500px;
  margin: 20px 30px;
  padding: 20px 40px;
  font-family: "Roboto", sans-serif;
  border: 2px;
  border-radius: 10px;
}
footer {
  background-color: #b2f3f3;
  padding: 20px 40px;
  font-family: sans-serif;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#container_footer {
  display: flex;
  justify-content: space-around;
  width: 20vw;
}
#profil {
  transform: rotate(360deg);
}
.bg_control {
  background-color: blue;
  width: 30px;
}

footer a {
  color: white;
}
.navbar {
  max-width: 500px;
}

.img-car {
  width: 500px;
}

#my_carousel {
  margin: 0px;
  border-radius: 10px;
}

.carousel-item.active img {
  border-radius: 10px;
}
#intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#name {
  flex-direction: column;
}
